<div class="card" >
  <img class="card-img-top" src= <%= user_img_or_default(user) %> alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= user.name %></h4>
    <p class="card-text">Goals: <%= user.goals %></p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Birthday: <%= user.born_on.strftime("%B %d") %></li>
      <li class="list-group-item">Current City: <%= ZipCodes.identify(user.zip)[:city] %>, <%= ZipCodes.identify(user.zip)[:state_code] %></li>
      <li class="list-group-item">User since: <%= user.created_at.strftime("%B %d, %Y")%></li>
    </ul>
    <% if user == current_user %>
      <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary btn-cust" %>
    <% end %>
  </div>
</div>
