<% if @user.challenges.where(status: [:unchosen, :chosen]).length == 0 %>
  <h1 class="text-center">Congratulations!</h1>
  <img class="center-block img-responsive" src="/all_the_things.png" alt="You did all the things!">
<% else %>



  <% @user.challenges.where("created_at > ?", 1.day.ago).order(activity_id: :desc).each do |challenge| %>
  <%= link_to challenge_path(challenge), method: 'put' do %>
      <% if challenge.chosen? %>
        <div class="card challenge-card selected">
      <% elsif challenge.posted? %>
        <div class="card challenge-card posted">
      <% else %>
        <div class="card challenge-card unselected">
      <% end %>
          <div class="row challenge">
            <div class="challenge-words">
              <h3><%= challenge.activity.title %></h3>
              <p><%= challenge.activity.description %></p>
            </div>
          <br>
          <br>
        </div>
        </div>
  <% end %>
  <% if challenge.chosen? %>
  <div class="choice-button">
    <h4><%= link_to "Post About It", new_post_path(challenge.id), method: "get" %>
      <%= link_to image_tag("/arrows.png", {:class=>"arrows", :alt => "post",}), new_post_path(challenge.id) %>
    </h4>
  </div>
  <% elsif challenge.posted? %>
    <div class="choice-button">
      <h4><%= link_to "Delete Post", post_path(challenge.post), method: "delete", data: { confirm: "Are you sure you want to delete that post?" } %>
        <%= link_to image_tag("/not_interested.png", {:alt => "not interested", :class=>"not-interested"}), post_path(challenge.post), method: "delete", data: { confirm: "Are you sure you want to delete that post?" } %>
      </h4>
    </div>
    <div class="choice-button">
      <h4><%= link_to "Read Your Post", post_path(challenge.post), method: "get" %>
        <%= link_to image_tag("/arrows.png", {:class=>"arrows", :alt => "post",}), post_path(challenge.post) %>
      </h4>
    </div>
  <% else %>
  <div class="choice-button">
    <h4><%= link_to "Remove Forever", not_interested_challenge_path(challenge), method: "put", data: { confirm: "Click 'OK' if you never want this activity listed again." } %>
      <%= link_to image_tag("/not_interested.png", {:alt => "not interested", :class=>"not-interested"}), not_interested_challenge_path(challenge), method: "put", data: { confirm: "Click 'OK' if you never want this activity listed again." } %>
    </h4>
  </div>
  <% end %>
  <% end %>
<% end %>
