<% if @user.challenges.where(status: [:unchosen, :chosen]).length == 0 %>
  <h1 class="text-center">Congratulations!</h1>
  <img class="center-block img-responsive" src="/all_the_things.png" alt="You did all the things!">
<% else %>
  <% @user.challenges.where(status: [:unchosen, :chosen]).order(activity_id: :desc).each do |challenge| %>
    <%= link_to challenge_path(challenge), method: 'put' do %>
      <% if challenge.chosen? %>
        <div class="card challenge-card selected">
      <% else %>
        <div class="card challenge-card unselected">
      <% end %>
          <div class="row challenge">
            <div class="challenge-words">
              <h3><%= challenge.activity.title %></h3>
              <p><%= challenge.activity.description %></p>
              <div class="center">
                <%= button_to "I'm not interested in this activity.", { controller: :challenges, action: :update_not_interested, id: challenge.id }, method: :patch, data: { confirm: "Are you sure? You won't ever get this activity again." }, class: "red btn" %>
              </div>
            </div>
            <% if challenge.chosen? %>
            <div class="challenge-post">
              <%= link_to image_tag("/arrows.png", {:class=>"arrows"}), challenge_path(challenge) %>
            </div>
            <% else %>
            <div>
            </div>
            <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
<% end %>
