<% if @user.challenges.where(status: [:unchosen, :chosen]).length == 0 %>
  <img class="img-responsive splash-animation center-block" src="/happy.gif" alt="You did all the things!">
  <h1 class="text-center">Congratulations!</h1>
  <h3 class="text-center">You finished all your challenges for the day!</h3>
  <h3 class="text-center">Check out the <%= link_to "happenings", posts_path, class: "link" %> page to see what other people are up to!</h3>
<% else %>


  <% @user.todays_challenges.each do |challenge| %>
  <%= link_to_if challenge.status.in?(["unchosen", "chosen"]),
                 challenge_path(challenge, status: challenge.next_status),
                 method: 'put', class: "challenge" do %>
    <div class="card challenge-card <%= challenge.status %>">
      <div class="row challenge">
        <div class="challenge-words">
          <h3><%= challenge.activity.title %></h3>
          <p><%= challenge.activity.description %></p>
        </div>
        <br>
        <br>
      </div>
    </div>
  <% end %>
  <% if challenge.chosen? %>
  <div class="choice-button challenge-action">
    <%= link_to new_post_path(challenge: challenge.id), method: "get", class: "link challenge" do %>
      <h4>Post About It <span class="glyphicon glyphicon-plus arrows" aria-hidden="true"></span></h4>
    <% end %>
  </div>
  <% elsif challenge.post %>
    <div class="choice-button">
      <%= link_to post_path(challenge.post), method: "delete", class: "link", data: { confirm: "Are you sure you want to delete that post?" } do %>
        <h4>Delete Post <span class="glyphicon glyphicon-ban-circle arrows" aria-hidden="true"></span></h4>
      <% end %>
    </div>
    <div class="choice-button">
      <h4><%= link_to "Your Post", post_path(challenge.post), method: "get", class: "link" %>
        <%= link_to image_tag("/arrows.png", {:class=>"arrows", :alt => "post",}), post_path(challenge.post) %>
      </h4>
    </div>
  <% else %>
  <div class="choice-button challenge-action">
    <%= link_to not_interested_challenge_path(challenge), method: "put", data: { confirm: "Click 'OK' if you never want this activity listed again."}, class: "challenge" do %>
      <h4>Not Interested <span class="glyphicon glyphicon-ban-circle arrows" aria-hidden="true"></span></h4>
    <% end %>
  </div>
  <% end %>
  <% end %>
<% end %>
