<div class="card">
  <h4 class="text-center">Recent Activities</h4>
  <h5 class="text-center">Completed one of these? Post about it!</h5>
  <hr>
  <% @user.challenges.where(status: [:dormant]).order(activity_id: :desc).each do |challenge| %>
  <div class="row">
    <p class="col-xs-12"><%= challenge.activity.title %> - <%= link_to "Post!", challenge_path(challenge) %></p>
    <hr>
    <p class="col-xs-12"><%= challenge.activity.title %> - <%= link_to "Post!", challenge_path(challenge) %></p>
    <hr>
    <p class="col-xs-12"><%= challenge.activity.title %> - <%= link_to "Post!", challenge_path(challenge) %></p>
    <hr>
  </div>
  <% end %>
</div>
