<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
  <div class="card challenge-card chosen outer-card">
        <h3><%= challenge.activity.title %></h3>
        <hr>
        <p><%= challenge.activity.description %></p>
  </div>

  <% if challenge.post %>
    <div class="card outer-card">
      <h2><%= challenge.post.title %></h2>
      <p><%= challenge.post.content %><p>
      <%= button_to "Edit Your Post", edit_post_path(challenge.post), method: "get", class: "btn btn-primary btn-cust" %>
    </div>
  <% else %>
    <%= link_to "Want to Share Your Experience?", new_post_path(challenge: challenge.id), method: "get", class: "btn btn-primary btn-cust" %>
  <% end %>
</div>
