<%= form_for(post) do |f| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, required: true, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :what_do_you_have_to_say? %><br />
    <%= f.text_area :content, required: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary btn-cust" %>
  </div>

<% end %>

<div class="center">
  <%= button_to 'Delete Post', { controller: :posts, action: :destroy, id: @post.id }, method: :delete, data: { confirm: 'Are you sure?' }, class: "red btn" %>
</div>
