<div class="col-md-1">
  <div><%= owner_avatar_or_default(post) %></div>
  <div><%= link_to post.challenge.user.name, user_path(post.challenge.user) %></div>
</div>
<div class="col-md-11">
  <h1> <%= post.title %></h1>
</div>
<div class="col-md-offset-1 col-md-11">
  <% if post.avatar.url.present? %>
    <div><%= image_tag(post.avatar.url(:large)) %></div>
  <% end %>
  <h3><strong>What I did:</strong> <%= post.challenge.activity.title %></h3>
  <h3><strong>My Thoughts:</strong></h3>
  <p><%= post.content %></p>
  <%= link_to 'Edit', edit_post_path(post) if current_user == post.challenge.user %>
</div>
