<div class="card overflow-fix outer-card">
  <div class="col-md-1 col-sm-1 col-xs-12">
    <div><%= owner_avatar_or_default(post) %></div>
    <div><%= link_to post.challenge.user.name, user_path(post.challenge.user) %></div>
    <div><%= time_ago_in_words post.created_at %> ago</div>
  </div>
  <div class="col-md-11 col-sm-11 col-xs-11">
    <% if post.avatar.url.present? %>
      <div class="col-md-6 col-md-offset-0 col-sm-4 col-sm-offset-0 col-xs-offset-3 col-xs-6 card-img-wrapper"><%= image_tag(post.avatar.url(:large), class: "responsive") %></div>
    <% end %>
    <div class="col-md-12 col-sm-8 col-xs-12">
      <h1 class="align-top"> <%= post.title %></h1>
      <h3><%= post.challenge.activity.title %></h3>
      <h4><%= post.title %></h4>
      <h5>My Thoughts:</h5>
      <p><%= post.content %></p>
      <%= link_to 'Edit', edit_post_path(post) if current_user == post.challenge.user %>
    </div>
  </div>
</div>
