<header class="navbar">
  <div><%= link_to image_tag("/logo.png", :class => 'img-responsive center-block', :id => "logo"), root_path %></div>
  <nav>
    <ul class="nav navbar-nav">
      <% if current_user %>
      <li><%= link_to "Home", root_path, class: "link" %></li>
      <li><%= link_to "Happenings", posts_path, class: "link" %></li>
      <li><%= link_to "My Profile", user_path(current_user), class: "link" %></li>
      <li><%= link_to "Logout", destroy_user_session_path, method: "delete", class: "link" %></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path, class: "link" %></li>
      <li><%= link_to "Login", new_user_session_path, class: "link" %></li>
      <% end %>
    </ul>
  </nav>
</header>
