<!DOCTYPE html>
<html lang="en">
  <header class="navbar">
    <div class="container">
      </ul>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Somewhere", "#" %></li>
          <li><%= link_to "Over there", "#" %></li>
          <li><%= link_to "That place", "#" %></li>
        </ul>
      </nav>
    </div>

  </header>
  <head>
    <h1 class="text-center">Actividay</h1>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <div class="row"
        <%= yield %>
      </div>
    </div>

  </body>
</html>
