<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Actividay</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Lato" rel="stylesheet">
  </head>
  <div class="col-xs-12">
    <img class="img-responsive center-block" id="logo" src="/logo.png" alt="Actividay-Logo">
  </div>

    <header class="navbar">
      <div class="container">
      </ul>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Somewhere", "#" %></li>
          <li><%= link_to "Over there", "#" %></li>
          <li><%= link_to "That place", "#" %></li>
        </ul>
      </nav>
    </div>

  </header>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
    </body>
</html>
