<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="apple-touch-icon" href="favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Actividay</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link href="https://fonts.googleapis.com/css?family=Arimo|Lato" rel="stylesheet">
  </head>

  <body>

    <%= link_to image_tag("/logo.png", :class => 'img-responsive center-block', :id => "logo"), root_path %>

    <%= render "layouts/header" %>

    <% if alert || notice %>
    <div id="flash" class="flash text-center col-xs-4 col-xs-offset-4">
      <h4><%= notice %><%= alert %></h4>
    </div>
    <% end %>

    <div class="container-fluid">

      <%= yield %>

    </div>

    <%= render "layouts/footer" %>
    
  </body>
</html>
