<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Actividay</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container background">
      <div id="cutout">
      </div>
      <div class="conatiner">


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



      </div>
    </div>
    </body>
</html>
